@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

span[epub|type~="subtitle"]{
	display: block;
	font-weight: normal;
}

footer{
	margin-top: 1em;
	text-align: right;
}

.signature{
	font-variant: small-caps;
}
