@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

footer{
	margin-top: 1em;
	text-align: right;
}

.signature{
	font-variant: small-caps;
}

[epub|type~="subchapter"] h3,
[epub|type~="subchapter"] h4,
[epub|type~="subchapter"] h5{
	display: inline-block;
	margin-top: 0;
}

[epub|type~="subchapter"] hgroup{
	text-align: center;
}
